:root {
  --prime-color: #2C3E50;
  --frist-color: #1ABC9C;
  --text-prime: #ECF0F1;
  --text-sec: #BDC3C7;
}


*{
  margin: 0;
  padding: 0;
  
}

body {
  background-color: var(--prime-color);
  font-family: sans-serif;
  font-weight: bold;
}
p {
  color: var(--text-prime);
}

.frist {
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.num-geter {
  display: block;
  margin: 16px;
  width: 80%;
  min-width: 300px;
  height: 4vh;
  min-height: 20px;
  background-color: var(--frist-color);
  color: var(--text-prime);
  font-weight: bold;
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: all 0.15s;
}
.num-geter::placeholder {
  color: var(--text-prime);
}
.num-geter:hover {
  box-shadow: rgba(0,0,0,0.15) 15px 15px;
}
.num-geter:focus {
  box-shadow: rgba(0,0,0,0.15) 15px 15px;
}

.go {
  margin: 20px;
  width: 10vw;
  min-width: 40px;
  height: 4vh;
  min-height: 20px;
  background-color: var(--frist-color);
  color: var(--text-prime);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.15s;
}
.go:hover {
  background-color: var(--prime-color);
  color: var(--frist-color);
  border: solid var(--frist-color) 2px;
  cursor: pointer;
}
.go:active {
  opacity: 0.5;
}

.internal {
  margin-top: 20px;
}

.labelization {
  text-align: left;
  margin: 10px;
}

.err {
  text-align: left;
  color: #ff1414;
}

.arranger {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: var(--frist-color);
  color: var(--text-prime);
  padding: 11px;
  margin-top: 26px;
  margin-bottom: 26px;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  min-width: 128px;
  direction: ltr;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.swap {
  background-color: var(--frist-color);
  align-self: center;
  color: var(--text-prime);
  font-weight: bold;
  border: none;
  height: 4vh;
  min-height: 20px;
  max-height: 30px;
  width: 10vw;
  min-width: 50px;
  max-width: 65px;
  border-radius: 10px;
  transition: all 0.15s;
}
.swap:hover {
  cursor: pointer;
  border: var(--frist-color) solid 2px;
  background-color: var(--prime-color);
  color: var(--frist-color);
}
.swap:active {
  opacity: 0.6;
}

.imgIcon{
  display: inline;
  height: 30px;
  width: 32px;
}

.titleText {
  display: inline;
}

span {
  color: var(--text-sec);
}
